@import './bootstrap_custom.scss';

/* Estilos Generales */

* {
  margin: 0;
  padding: 0;
}

*:focus { outline: none; } 

/* Fuentes */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  background-color: #EFF0F1;
  font-family: 'Roboto', sans-serif;
}

p { 
  line-height: 1.6em; 
}

h2 {
  color: #f04500;
}

input[type="submit"]:hover {
  background-color: #f04500;
  border: 1px solid #f04500;
}

/* Estilos Formulario Registro e Inicio de sesion */

.new_user {
  background-color: white;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05), 0 20px 48px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.new_preguntum {
  background-color: white;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05), 0 20px 48px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1);
  border-radius: 5px;
}

/* Estilos enlaces Navbar a*/

.link-back a {
  font-size: 25px;
  transition: all 300ms;
}

.link-back a:hover {
  color: #f04500 !important;
}

.nav li a {
  transition: all 300ms;
}

.nav li a:hover {
  color: #f04500 !important;
  border: 0;
}

.navbar-brand span {
  transition: all 300ms;
}

.navbar-brand:hover span {
  text-shadow: 0px 0px 2px #f04500;
  color: #f04500 !important;
}

.already-account {
  transition: all 300ms;
}

.already-account:hover {
  color: #f04500 !important;
}

.create-account {
  transition: all 300ms;
}

.create-account:hover {
  color: #f04500 !important;
}

.button-row {
  margin-top: 50px;
  margin-bottom: 40px;
}

.button-row .col h1 {
  font-weight: bold;
}

.button-row .col .custom-btn {
  transition: all 300ms;
}

.button-row .col .custom-btn:hover {
  background-color: #f04500;
  border: 1px solid #f04500;
}

/* Estilos index.html.erb  Columna .button-row */

/* Columna Votes and Answers */

.main-row {
  border-top: 1px solid #cad2da;
}

.main-row .votes, .answers {
  text-align: center;
  font-size: 16px;
}

.main-row .votes .mini-counts {
  font-weight: bold;
  padding-top: 5px;
  font-size: 25px;
}

.main-row .answers .mini-counts {
  font-weight: bold;
  padding-top: 5px;
  font-size: 25px;
}

.main-row .votes div:last-child {
  color: #6c757d;
}

.main-row .answers div:last-child {
  color: #6c757d;
}

/* Columna Summary  */

.main-row .summary {
  padding: 10px 0 0 40px;
}

.main-row .summary .content a:hover {
  color: #c9410b;
}

@media (max-width: 576px) { 

  .main-row .votes {
    padding-left: 30px;
  }

  .main-row .votes, .answers {
    text-align: left;
  }

  .main-row .summary {
    padding: 10px 20px 0 20px;
  }

}

.main-row .summary a {
  font-size: 20px;
  color: #f04500;
  transition: all 300ms;
  text-decoration: none;
}

.main-row .summary a:hover {
  color: #c9410b;
}

.main-row .summary p {
  font-size: 16px;
  color: #6c757d;
}

/* Estilos contenedor pregunta */

.title-col {
  padding-left: 0 !important;
  color: #f04500;
}

.title-col .q-author {
  color: #6c757d;
}

.title-col .q-author span{
  color: #f04500;
}

.arrow-col {
  padding-right: 10px;
}

.content-arrow a {
  text-decoration: none;
  color: #000;
}

.content-arrow a:hover {
  color: #f04500;
}

.content-arrow a > i {
  font-size: 40px;
  margin-top: 10px;
}

.content-arrow .text {
  padding-right: 6px;
}

.content-arrow .text span {
  font-size: 25px;
}

@media (max-width: 767px) { 

  .title-col {
    padding-left: 15px !important;
  }
  
  .content-arrow .text {
    padding-right: 1px;
  }
  
}

/* Estilos Comentario Pregunta */

.body-col .p-body {
  border-bottom: 1px solid #d3d1d1;
  margin-bottom: 10px;
}

.body-col .comments {
  border-top: 1px solid #d3d1d1;
  padding: 15px 15px 15px 15px;
  color: #6c757d;
  background-color: white;
  margin-bottom: 15px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05), 0 20px 48px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1);
}

.body-col .comments span {
  color: #f04500
}

.body-col .comments section{
  padding: 5px 0 5px 15px;
}

.res-col .r-body {
  background-color: white;
  padding: 15px 15px 15px 15px;
  margin-bottom: 15px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05), 0 20px 48px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1);
}

.answer-col .r-title {
  border-bottom: 1px solid #d3d1d1;
  margin-bottom: 10px;
}
